# Python - pliki tymczasowe i skompilowane
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Środowiska wirtualne (Standardowe i te od uv)
.venv/
venv/
ENV/

# Konfiguracja środowiskowa (TAJNE DANE)
.env

# Bazy danych (Lokalne pliki SQLite)
*.db
*.sqlite3

# Narzędzia i IDE
.vscode/
.idea/
.DS_Store

# uv - pliki specyficzne dla narzędzia (opcjonalnie, ale warto mieć porządek)
.python-version
requirements.txt
pyproject.toml
uv.lock
.gitignore